@font-face {
  font-family: 'NorseBold';
  src: url('Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
    margin: 0;
    display: flex;
}

.image {
    position: relative;
}

img#big {
    width: 35vw;
    height: 100vh;
}



.heading {
    position: absolute;
    width: 35vw;
    top: 155px;
    color: white;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "NorseBold";
    font-size: 80px;
    text-align: center;
}

.heading img {
    height: 125px;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 35vw;
    display: flex;
    justify-content: center;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 35px;
    font-weight: bold;
    font-size: 20px;
    height: 300px;
    background-color: whitesmoke;
}

.forms {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.accounts {
    display: flex;
    padding: 20px;
    background-color: whitesmoke;
    flex-direction: column;
    flex: auto;
    gap: 16px;
}

button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #596D48;
    font-weight: bold;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Trebuchet MS', sans-serif;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.names, .contact-info, .passwords {
    display: flex;
    gap: 100px;
    padding-left: 20px;
    margin-bottom: 15px;
}

h1 {
    padding-left: 20px;
}

input {
    width: 250px;
}
